In [ ]:
#4collections.py

# 4.1 PYTHON Lists

fruits = ["kiwi", "pineapple", "apple"]

In [ ]:
# 4.1.1 Print the second item in the fruits list.
# TODO: Write your code below
print(fruits[1])

pineapple

In [ ]:
# 4.1.2 Change the value from "kiwi" to "orange", in the fruits list.
# TODO: Write your code below
fruits[0]="orange"
print(fruits)

['orange', 'pineapple', 'apple']

In [ ]:
# 4.1.3 Use the insert method to add "lemon" as the second item in the fruits list.
# TODO: Write your code below
fruits.insert(1,"lemon")
print(fruits)

['orange', 'lemon', 'pineapple', 'apple']

In [ ]:
# 4.1.4 Use the remove method to remove "pineapple" from the fruits list.
# TODO: Write your code below

fruits.remove("pineapple")
print(fruits)

['orange', 'lemon', 'apple']

In [ ]:
# 4.1.5 Use negative indexing to print the last item in the list.
# TODO: Write your code below
print(fruits[-1])

apple

In [ ]:
# 4.1.6 Use a range of indexes to print the third, fourth, and fifth item in the list fruits2.

fruits2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# TODO: Write your code below
print(fruits2[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
# 4.1.7 Use the correct syntax to print the number of items in the list fruits
# TODO: Write your code below
print(len(fruits2))

7

In [ ]:
# 4.1.8  Write a program that add the average of numbers in a list scores.
# you are not allowed to use the sum() or len() functions.

scores = [50, 55, 56, 70, 80, 60, 66]

# TODO: Write your code below
length=0
total=0
for x in scores:
  total+=x
  length+=1
print('the sum of items is:', total)
print('item count:', length)
print('average of items in the scores list ', round(total/length,5))

the sum of items is: 437
item count: 7
average of items in the scores list  62.42857

In [ ]:
# 4.1.9 Write a program that calculates the highest number in a list scores
# you are not allowed to use the max or min functions.
scores = [50, 55, 56, 70, 80, 60, 66]

# TODO: Write your code below
max = -100
for x in scores:
  if x>max:
    max=x
print('largest numberin score list is:', max)

largest numberin score list is: 80

In [ ]:
# 4.1.10

In [ ]:
# 4.2. PYTHON Dictionaries

car =	{
  "brand": "Renault",
  "model": "Clio",
  "year": 2018
}

In [ ]:
# 4.2.1 Use the get method to print the value of the "model" key of the car dictionary.
# TODO: Write your code below
print(car.get("model"))
print(car["model"])

Clio
Clio

In [ ]:
# 4.2.2 Change the "year" value from 2018 to 2020 in the car dictionary.
# TODO: Write your code below
x = car.values()
car["year"] = 2020
print(x)

dict_values(['Renault', 'Clio', 2020])

In [ ]:
# 4.2.3 TODO: Add the key/value pair "color" : "blue" to the car dictionary.
# TODO: Write your code below
x = car.values()
car["color"] = "blue"
print(x)

dict_values(['Renault', 'Clio', 2020, 'blue'])

In [ ]:
# 4.2.4 Use the pop method to remove "model" from the car dictionary.
# TODO: Write your code below
car.pop("model")
print(car)

{'brand': 'Renault', 'year': 2020, 'color': 'blue'}

In [ ]:
# 4.2.5 Use the clear method to empty the car dictionary.
# TODO: Write your code below
car.clear()
print(car)

{}